.deleteChatRoomBtn {
  background-color: #fff;
  color: red;
  outline: none;
  border: none;
  border-radius: 5px;
  display: block;
  width: 160px;
  text-align: left;
}

.deleteChatRoomBtn:hover {
  border: none;
  background-color: #f8d7da; /* 輕微紅色背景 */
}

.deleteChatRoomBtn:focus {
  outline: none;
}

.deleteChatRoomOverlay {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  background: rgba(0, 0, 0, 0.5);
  display: flex;
  justify-content: center;
  align-items: center;
}

.deleteChatRoomContent {
  position: relative;
  background: #fff;
  padding: 15px;
  border-radius: 8px;
  text-align: center;
  width: 550px;
  height: 250px;
}

.deleteChatRoomContent h2 {
  font-size: 2em;
  margin-bottom: 20px;
  color: red; /* 標題改成紅色 */
}

.deleteButtons {
  position: relative;
  display: flex;
  justify-content: center;
  top: 20%;
}

.confirmDelete {
  margin: 5px;
  padding: 8px 16px;
  background-color: #dfdfdf;
  color: #000;
  width: 125px;
  outline: none;
  border: none;
}

.confirmDelete:focus {
  outline: none;
}

.confirmDelete:hover {
  outline: none;
  background-color: #d9d9d9;
}

.redText {
  color: red;
}

